*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    zoom: 1;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    *, html {
        zoom: 0.96;
    }
}

::selection {
    background-color: gray;
}

a, input, br {
    user-select: none;
}

a {
    color: gray;
}

body.body {
    background-color: rgb(25,25,25);
    color: white;
    text-align: center;
    font-family: poppins;
}

div.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
}

@media screen and (max-width: 1024px) {
    div.content {
        max-width: 80%;
    }
}

div.content h6 {
    margin: 5px;
}

p.info {
    background-color: rgb(20,20,20);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}

input.nama {
    text-align: center;
    background-color: rgb(36,36,36);
    color: white;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    font-size: medium;
    font-family: poppins;
}

input.nama:focus {
    outline: transparent;
}

input.check, button.reload {
    background-color: rgb(75,75,75);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin-top: 5px;
    width: 300px;
    font-size: medium;
    font-family: poppins;
    cursor: pointer;
}

input.check:hover, button.reload:hover {
    background-color: rgb(100,100,100);
}

input.check:active, button.reload:active {
    background-color: rgb(50,50,50);
}

div.content p {
    margin: 10px;
}

span.hasil {
    color: white;
    animation: rgb 1s none infinite;
    font-weight: bold;
    font-size: x-large;
}

@keyframes rgb {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: limegreen;
    }

    75% {
        color: lightblue
    }

    100% {
        color: red;
    }
}

h6.tribute {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}